<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_with(url: admin_sessions_path, local: true) do |f| %>
    <div class=”field”>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div class=”field”>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class=”actions”>
        <%= f.submit "Login" %>
    </div>
<% end %>
