<main class="container">
    <div class="auth">

        <div class="auth__form">

            <h1 class="auth__title title">Don't think to much, just write your dreams...</h1>

            <p>Sign up</p>
            <%= form_with(model: @author, url: admin_authors_path, local: true, class: "form") do |author_form| %>

                <%= author_form.text_field :name, class: "field field__text", placeholder: "Name"  %>

                <%= author_form.fields_for :account do |account_form| %>
                    <%= account_form.text_field :email, class: "field field__text", placeholder: "Email" %>
                    <%= account_form.password_field :password, class: "field field__password", placeholder: "Password" %>
                    <%= account_form.password_field :password_confirmation, class: "field field__password", placeholder: "Confirm Password" %>
                <% end %>

                <%= author_form.submit "Create", class: "button button--primary" %>
            <% end %>
        </div>
        <div class="image">
            <%= image_tag("signup.svg", :alt => "people holding some balloons") %>
        </div>
    </div>
</main>

