<main class="container">
    <div class="auth">

        <div class="auth__form">

            <h1 class="auth__title title title--lg">Don't think to much, just write your dreams...</h1>
            <p class="title title--md">Sign up</p>

            <%= form_with(model: @author, url: admin_authors_path, local: true, class: "form") do |author_form| %>
                <div class="field">
                    <%= author_form.text_field :name, class: "field__text", placeholder: "Name"  %>
                    <% if !@author.errors["name"].empty? %>
                        <p class="field__error"><%= @author.errors["name"].first %></p>
                    <% end %>

                </div>

                <%= author_form.fields_for :account do |account_form| %>
                    <div class="field">
                        <%= account_form.text_field :email, class: "field__text", placeholder: "Email" %>
                        <% if !@author.errors["account.email"].empty? %>
                            <p class="field__error"><%= @author.errors["account.email"].first %></p>
                        <% end %>
                    </div>
                    <div class="field">
                        <%= account_form.password_field :password, class: "field__password", placeholder: "Password" %>
                        <% if !@author.errors["account.password"].empty? %>
                            <p class="field__error"><%= @author.errors["account.password"].first %></p>
                        <% end %>

                    </div>
                    <div class="field">
                        <%= account_form.password_field :password_confirmation, class: "field__password", placeholder: "Confirm Password" %>
                        <% if !@author.errors["account.password_confirmation"].empty? %>
                            <p class="field__error"><%= @author.errors["account.password_confirmation"].first %></p>
                        <% end %>
                    </div>
                <% end %>

                <%= author_form.submit "Create", class: "button button--block button--primary" %>
            <% end %>
        </div>
        <div class="image">
            <%= image_tag("signup.svg", :alt => "people holding some balloons") %>
        </div>
    </div>
</main>

