<% if @author.errors.full_messages.any? %>
    <% @author.errors.full_messages.each do |error_message| %>
        <div class="message">
            <div class="message__container message--alert">
                <button class="message__button">close</button>
                <p class="message__text"><%= error_message %></p>
            </div>
        </div>
    <% end %>
<% end %>

<main class="container">
    <div class="auth">

        <div class="auth__form">

            <h1 class="auth__title title title--lg">Don't think to much, just write your dreams...</h1>
            <p class="title title--md">Sign up</p>

            <%= form_with(model: @author, url: admin_authors_path, local: true, class: "form") do |author_form| %>
                <div class="field-group">
                    <%= author_form.text_field :name, class: "field field__text", placeholder: "Name"  %>
                </div>

                <%= author_form.fields_for :account do |account_form| %>
                    <div class="field-group">
                        <%= account_form.text_field :email, class: "field field__text", placeholder: "Email" %>
                    </div>
                    <div class="field-group">
                        <%= account_form.password_field :password, class: "field field__password", placeholder: "Password" %>
                    </div>
                    <div class="field-group">
                        <%= account_form.password_field :password_confirmation, class: "field field__password", placeholder: "Confirm Password" %>
                    </div>
                <% end %>

                <%= author_form.submit "Create", class: "button button--block button--primary" %>
            <% end %>
        </div>
        <div class="image">
            <%= image_tag("signup.svg", :alt => "people holding some balloons") %>
        </div>
    </div>
</main>

