<%= form_with(model: @author, local: true) do |author_form| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= author_form.label :name %>
      <%= author_form.text_field :name %>
  </div>

  <%= author_form.fields_for :account do |account_form| %>
    <div class="field">
      <%= account_form.label :email %>
      <%= account_form.text_field :email %>
    </div>

    <div class="field">
      <%= account_form.label :password %>
      <%= account_form.password_field :password %>
    </div>

    <div class="field">
      <%= account_form.label :password_confirmation %>
      <%= account_form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
      <%= author_form.submit %>
    </div>
<% end %>
