<h1>Post</h1>
<%= form_with(model: [current_author, @post],url: admin_author_posts_path, local: true) do |f| %>
    <div class=”field”>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class=”field”>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <div class=”actions”>
        <%= f.submit "Save" %>
    </div>
<% end %>
