<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeBreak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash.alert %>
          <div class="message">
              <div class="message--alert"
                  <p class="message__text"><%= flash.alert %></p>
              </div>
          </div>
      <% end %>
      <menu class="menu">
          <div class="container">
              <%= link_to "Coffee Break", posts_path, class: "menu__brand" %>
              <% if logged_in?  %>
                  <div>
                      <%= link_to 'My Posts', admin_author_posts_path(current_author), class: 'menu__link link' %>
                      <%= link_to 'Profile', admin_author_path(current_author), class: 'menu__link link' %>
                      <%= link_to 'Logout', logout_path, class: 'menu__link link' %>
                  </div>
              <% else %>
                  <a href="https://github.com/wnascy/coffee-break" class="button button--primary">Github</a>
              <% end %>
          </div>
      </menu>
      <%= yield %>
      <footer class="footer">
          <div class="container">
              <p class="footer__date">© 2020-<%= Time.current.year %> coffee break</p>
          </div>
      </footer>
  </body>
</html>
